
// styling for input field

.custom-form {
    width: 55%;
    display: inline-block;
    margin:5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}